/********** Styles **********/
* {
  box-sizing: border-box;
  font-family:  Apple Chancery, cursive ;
}

body {
  margin-left: 12px;
  margin-right: 12px;
  padding: 0px;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
}

div {
  background-color: gray;
  margin-right: 12px;
  margin-left: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
}

h2 {
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;  
  float: right;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  border: 3px solid black;
  background-color: red;
  width: 200px;
  border-top-style:none;
  border-right-style:none;
}

p {
  width: 90%;
  height: 120px;
  padding-top: 5px;
  margin-right: auto;
  margin-left: auto;
  color: black;
  overflow: hidden;
}

.bar1 {
  background-color: pink;
}

.bar2 {
  background-color: #882c2c;
  color: white;
}

.bar3 {
  background-color: #ffdf80;
}

/* Responsive Framework. */
.row {
  width: 100%;
  margin: 0px;
}

/********** Desktop View **********/
@media (min-width: 922px) {
  .col-dv-1, .col-dv-2, .col-dv-3{
    float: left;
    border: 3px solid black;
  }
  .col-dv-1 {
    width: calc(33% - 21px);
  }
  .col-dv-2 {
    width: calc(33% - 21px);
  }
  .col-dv-3 {
    width: calc(33% - 21px);
  }
}

/********** Tablete Device **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-td-1, .col-td-2, .col-td-3{
    float: left;
    border: 3px solid black;
  }
  .col-td-1 {
    width: calc(50% - 24px);
  }
  .col-td-2 {
    width: calc(50% - 24px);
  }
  .col-td-3 {
    width: calc(100% - 24px);
  }
}

/********** Mobile Device **********/
@media (max-width: 767px) {
  .col-md-1, .col-md-2, .col-md-3{
    float: left;
    border: 3px solid black;
  }
  .col-md-1 {
    width: calc(100% - 24px);
  }
  .col-md-2 {
    width: calc(100% - 24px);
  }
  .col-md-3 {
    width: calc(100% - 24px);
  }
}


